.git
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
npm-debug.log
yarn-error.log
Dockerfile
compose*.yaml
node_modules
vendor
.env
public/hot
storage/logs/*
bootstrap/cache/*.php
.git
